[submodule "modules/keyper-fe"]
	path = modules/keyper-fe
	url = https://github.com/dbsentry/keyper-fe.git
[submodule "modules/keyper"]
	path = modules/keyper
	url = https://github.com/dbsentry/keyper.git
