[submodule "service/nginx/assets/keyper-fe"]
	path = modules/keyper-fe
	url = https://github.com/dbsentry/keyper-fe.git
[submodule "service/gunicorn/assets/keyper"]
	path = modules/keyper
	url = https://github.com/dbsentry/keyper.git
